footer.footer
  .container
    .footer-content.pt-5.pb-5
      .row
        .col-xl-3.col-lg-3.mb-5.lap
          .footer-content__col
            .footer-content__col__logo
              a(href='/')
                img.img-fluid(src='./images/logo.png' alt='logo')
            .footer-content__col__text
              p
                | Main Campus
                br
                | KM 23 Airport - Giri Road
                br
                | Abuja, FCT, Nigeria

              p info@uniabuja.com

            .footer-content__col__social
              a(href='#')
                i.fab.fa-facebook-f.facebook-bg
              a(href='#')
                i.fab.fa-twitter.twitter-bg
              a(href='#')
                i.fab.fa-google-plus-g.google-bg
        .col-xl-9.col-lg-9.col-md-12.col-md-6.mb-3.d-flex
          .row
            .col-lg-4.col-md-4.col-6
              .footer-content__col
                .footer-content__col__heading
                  h3 Study at University of Abuja
                ul.list-unstyled.footer-content__col__list
                  li
                    a(href='#') Undergraduate
                  li
                    a(href='#') Postgraduate
                  li
                    a(href='#') Continuing education
                  li
                    a(href='#') Executive and professional education
                  li
                    a(href='#') Courses in education
            .col-lg-4.col-md-4.col-6
              .footer-content__col
                .footer-content__col__heading
                  h3 About the University
                ul.list-unstyled.footer-content__col__list
                  li
                    a(href='#') How the University works
                  li
                    a(href='#') Give to UNIABUJA
                  li
                    a(href='#') Jobs
                  li
                    a(href='#') Maps
                  li
                    a(href='#') Visiting the University

            .col-lg-4.col-md-4.col-6
              .footer-content__col
                .footer-content__col__heading
                  h3 Reasearch at the University of Abuja
                ul.list-unstyled.footer-content__col__list
                  li
                    a(href='#') How the University works
                  li
                    a(href='#') Give to UNIABUJA
                  li
                    a(href='#') Jobs
                  li
                    a(href='#') Maps
                  li
                    a(href='#') Visiting the University

            .col-lg-4.col-md-4.col-6
              .footer-content__col
                .footer-content__col__heading
                  h3 Governance
                ul.list-unstyled.footer-content__col__list
                  li
                    a(href='#') Chancellor
                  li
                    a(href='#') Vice-Chancellor
                  li
                    a(href='#') Deputy Vice-Chancellor
                  li
                    a(href='#') Registrar
                  li
                    a(href='#') Executive directors
                  li
                    a(href='#') Deans
                  li
                    a(href='#') Head of Academic Departments

            .col-lg-4.col-md-4.col-6
              .footer-content__col
                .footer-content__col__heading
                  h3 Management
                ul.list-unstyled.footer-content__col__list
                  li
                    a(href='#') Council
                  li
                    a(href='#') Senate
                  li
                    a(href='#') Institutional Forum
                  li
                    a(href='#') Comitee structures
                  li
                    a(href='#') Student governance
                  li
                    a(href='#') Legislation

.copyright
  .container
    .copyright-mobile
      a(href='/')
        img.img-fluid(src='./images/logo.png' alt='logo')
      .copyright-content
        p
          | Main Campus
          br
          | KM 23 Airport - Giri Road
          br
          | Abuja, FCT, Nigeria

        p info@uniabuja.com


        .copyright-content__social
          a(href='#')
            i.fa-brands.fa-instagram
          a(href='#')
            i.fa-brands.fa-facebook
          a(href='#')
            i.fa-brands.fa-twitter
