footer.footer
  .container
    .footer-contact.pt-5.pb-5
      .row
        .col-xl-4.col-md-4.mb-3.mb-md-0
          .footer-contact__singal
            i.footer-contact__singal__icon.fas.fa-map-marker-alt
            .footer-contact__singal__text
              h4 Find us
              span 1010 Avenue, sw 54321, chandigarh
        .col-xl-4.col-md-4.mb-3.mb-md-0
          .footer-contact__singal
            i.footer-contact__singal__icon.fas.fa-phone.fa-rotate-90
            .footer-contact__singal__text
              h4 Call us
              span 9876543210 0
        .col-xl-4.col-md-4.mb-3.mb-md-0
          .footer-contact__singal
            i.footer-contact__singal__icon.far.fa-envelope-open
            .footer-contact__singal__text
              h4 Mail us
              span mail@info.com
    .footer-content.pt-5.pb-5
      .row
        .col-xl-4.col-lg-4.mb-5
          .footer-content__col
            .footer-content__col__logo
              a(href='/')
                img.img-fluid(src='./images/logo.png' alt='logo')
            .footer-content__col__text
              p
                | Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                | elit,Lorem ipsum dolor sit amet.
            .footer-content__col__social
              span Follow us
              a(href='#')
                i.fab.fa-facebook-f.facebook-bg
              a(href='#')
                i.fab.fa-twitter.twitter-bg
              a(href='#')
                i.fab.fa-google-plus-g.google-bg
        .col-xl-4.col-lg-4.col-md-6.mb-3
          .footer-content__col
            .footer-content__col__heading
              h3 Useful Links
            ul.list-unstyled.footer-content__col__list
              li
                a(href='#') Home
              li
                a(href='#') about
              li
                a(href='#') services
              li
                a(href='#') portfolio
              li
                a(href='#') Contact
              li
                a(href='#') About us
              li
                a(href='#') Our Services
              li
                a(href='#') Expert Team
              li
                a(href='#') Contact us
              li
                a(href='#') Latest News
        .col-xl-4.col-lg-4.col-md-6.mb-5
          .footer-content__col
            .footer-content__col__heading
              h3 Subscribe
            .footer-content__col__text.mb-2
              p Don’t miss to subscribe to our new feeds, kindly fill the form below.
            .footer-content__col__subscribe
              form(action='#')
                input(type='text' placeholder='Email Address')
                button
                  i.fab.fa-telegram-plane
  .copyright
    .container
      .row
        .col-xl-12.col-lg-12.text-center
          .copyright__text
            p
              | All Right Reserved © 2020 #{website} | Designed And Developed By 
              a(href='https://pythoners.net/') Pythoners