doctype html
html(lang="ar" dir="rtl")
  head
    -var pageName = "Home";
    include ../base/head
  body
    header
      // ========== HEADING ==========
      include ../layouts/header

    include ../layouts/footer

    include ../base/scripts
