.footer {
  background: #121a2f;
  position: relative;
  padding: 1rem 0;
  .footer-content {
    position: relative;
    z-index: 2;
    &__col {
      &__logo {
        margin-bottom: 30px;

        img {
          max-width: 200px;
        }
      }
      &__text {
        p {
          margin-bottom: 14px;
          font-size: var(--normal-font-size) !important;
          color: #fff;
          font-weight: bold;
          line-height: 28px;
          font-family: "Lora", serif;

          // font-size: 16px !important;
        }
      }
      &__social {
        span {
          color: var(--first-color);
          display: block;
          font-size: var(--h3-font-size);
          font-weight: var(--font-bold);
          margin-bottom: 20px;
        }
        a {
          color: var(--container-color);
          font-size: var(--normal-font-siz);
          margin-right: 15px;
          &:hover {
            opacity: 0.8;
          }
          i {
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 38px;
            border-radius: 50%;
          }
        }
      }
      &__heading {
        h3 {
          color: var(--first-color);
          font-size: var(--h3-font-size);
          font-weight: var(--font-semi-bold);
          margin-bottom: 15px;
        }
      }
      &__list {
        li {
          margin-bottom: 12px;
          a {
            color: var(--text-color-light);
            text-transform: capitalize;

            &:hover {
              color: var(--first-color);
            }
          }
        }
      }
      &__subscribe {
        position: relative;
        overflow: hidden;
        input {
          width: 100%;
          padding: 12px 28px;
          background: var(--container-color);
          border: 1px solid var(--container-color);
          color: var(--first-color);
          outline: none;
        }
        button {
          position: absolute;
          display: flex;
          align-items: center;
          height: 100%;
          top: 0;
          right: 0;
          background: var(--first-color);
          padding: 13px 18px;
          border: 1px solid var(--first-color);
          i {
            color: var(--container-color);
            font-size: var(--h3-font-size);
            transform: rotate(-6deg);
          }
        }
      }
    }
  }
}
.copyright {
  display: none;
}

.facebook-bg {
  background: var(--facebook-bg);
}
.twitter-bg {
  background: var(--twitter-bg);
}
.google-bg {
  background: var(--googleplus-bg);
}

@media (max-width: 576px) {
  .footer .footer-content {
    padding: 0 !important;
    &__col {
      margin: 15px 0;
      &__heading h3 {
        font-size: 16px;
        line-height: 20px;
      }
      &__list li a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .copyright {
    display: block;
    padding: 35px 0;
    text-align: center;
    &-content {
      text-align: center;
      margin-top: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #121a2f;
      &__social {
        margin: 22px 0;
        a {
          color: #121a2f;
          display: inline-block;
          font-size: 30px;
          &:not(:last-of-type) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
