doctype html
html(lang="en")
  head
    -var pageName = "Home";
    include ./includes/base/head
  body
    header
      // ========== HEADING ==========
      include ./includes/layouts/heading

      // ========== NAVBAR ==========
      include ./includes/layouts/navbar

    main.homepage

      section.intro
        #AppledCarousel.carousel.slide(data-bs-ride='carousel')
          .carousel-indicators
            button.active(type='button' data-bs-target='#AppledCarousel' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
            button(type='button' data-bs-target='#AppledCarousel' data-bs-slide-to='1' aria-label='Slide 2')
            button(type='button' data-bs-target='#AppledCarousel' data-bs-slide-to='2' aria-label='Slide 3')
          .carousel-inner
            .carousel-item.active
              img.lap.w-100(src='./images/carousel-1.png' alt='...')
              img.mobile.w-100(src='./images/carousel-1-mobile.png' alt='...')
              .carousel-caption
                span Undergraduate Studies
                h5 Apply Online
                p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                a.button(href="/")
                  span Apply Here
                  i.fa-solid.fa-arrow-right-long

            .carousel-item
              img.lap.w-100(src='./images/carousel-1.png' alt='...')
              img.mobile.w-100(src='./images/carousel-1-mobile.png' alt='...')
              .carousel-caption
                span Undergraduate Studies
                h5 Apply Online
                p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                a.button(href="/")
                  span Apply Here
                  i.fa-solid.fa-arrow-right-long

            .carousel-item
              img.lap.w-100(src='./images/carousel-1.png' alt='...')
              img.mobile.w-100(src='./images/carousel-1-mobile.png' alt='...')
              .carousel-caption
                span Undergraduate Studies
                h5 Apply Online
                p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                a.button(href="/")
                  span Apply Here
                  i.fa-solid.fa-arrow-right-long

          .buttons-arrow
            button.carousel-control-prev(type='button' data-bs-target='#AppledCarousel' data-bs-slide='prev')
              span.circle
                i.fa-solid.fa-arrow-left-long
            button.carousel-control-next(type='button' data-bs-target='#AppledCarousel' data-bs-slide='next')
              span.circle
                i.fa-solid.fa-arrow-right-long


      section.counter
        .container
          .row
            .col-lg-4.text-center.counter__card
              svg(xmlns='http://www.w3.org/2000/svg' width='32' height='45' viewBox='0 0 32 45' fill='none')
                path(d='M22.8143 28.1777L16 36.5624L9.18571 28.1777C4.07857 28.4501 0 33.5917 0 39.9374V40.7812C0 43.1103 1.53571 44.9999 3.42857 44.9999H28.5714C30.4643 44.9999 32 43.1103 32 40.7812V39.9374C32 33.5917 27.9214 28.4501 22.8143 28.1777ZM0.971429 7.01361L1.42857 7.14545V12.2783C0.928571 12.6474 0.571429 13.289 0.571429 14.0624C0.571429 14.8007 0.9 15.416 1.36429 15.7939L0.25 21.2695C0.128571 21.8759 0.4 22.4999 0.792857 22.4999H3.77857C4.17143 22.4999 4.44286 21.8759 4.32143 21.2695L3.20714 15.7939C3.67143 15.416 4 14.8007 4 14.0624C4 13.289 3.64286 12.6474 3.14286 12.2783V7.65521L7.85714 9.05267C7.24286 10.5644 6.85714 12.2519 6.85714 14.0624C6.85714 20.2763 10.95 25.3124 16 25.3124C21.05 25.3124 25.1429 20.2763 25.1429 14.0624C25.1429 12.2519 24.7643 10.5644 24.1429 9.05267L31.0214 7.01361C32.3214 6.62689 32.3214 4.63177 31.0214 4.24506L17.4214 0.202087C16.4929 -0.0703735 15.5143 -0.0703735 14.5857 0.202087L0.971429 4.23627C-0.321429 4.62299 -0.321429 6.62689 0.971429 7.01361Z' fill='#121A2F')
              .count
                p 50k+
              p.title Scholarships

            .col-lg-4.text-center.counter__card
              svg(xmlns='http://www.w3.org/2000/svg' width='42' height='44' viewBox='0 0 42 44' fill='none')
                path(d='M9.1875 0C9.5356 0 9.86944 0.144866 10.1156 0.402728C10.3617 0.660591 10.5 1.01033 10.5 1.375V2.75H31.5V1.375C31.5 1.01033 31.6383 0.660591 31.8844 0.402728C32.1306 0.144866 32.4644 0 32.8125 0C33.1606 0 33.4944 0.144866 33.7406 0.402728C33.9867 0.660591 34.125 1.01033 34.125 1.375V2.75H36.75C38.1424 2.75 39.4777 3.32946 40.4623 4.36091C41.4469 5.39236 42 6.79131 42 8.25V38.5C42 39.9587 41.4469 41.3576 40.4623 42.3891C39.4777 43.4205 38.1424 44 36.75 44H5.25C3.85761 44 2.52226 43.4205 1.53769 42.3891C0.553123 41.3576 0 39.9587 0 38.5V8.25C0 6.79131 0.553123 5.39236 1.53769 4.36091C2.52226 3.32946 3.85761 2.75 5.25 2.75H7.875V1.375C7.875 1.01033 8.01328 0.660591 8.25942 0.402728C8.50556 0.144866 8.8394 0 9.1875 0V0ZM35.3167 8.25H6.68062C5.89313 8.25 5.25 8.866 5.25 9.625V12.375C5.25 13.134 5.8905 13.75 6.68062 13.75H35.3194C36.1069 13.75 36.75 13.134 36.75 12.375V9.625C36.75 8.866 36.1095 8.25 35.3167 8.25ZM30.1875 19.25C29.8394 19.25 29.5056 19.3949 29.2594 19.6527C29.0133 19.9106 28.875 20.2603 28.875 20.625V23.375C28.875 23.7397 29.0133 24.0894 29.2594 24.3473C29.5056 24.6051 29.8394 24.75 30.1875 24.75H32.8125C33.1606 24.75 33.4944 24.6051 33.7406 24.3473C33.9867 24.0894 34.125 23.7397 34.125 23.375V20.625C34.125 20.2603 33.9867 19.9106 33.7406 19.6527C33.4944 19.3949 33.1606 19.25 32.8125 19.25H30.1875Z' fill='#121A2F')
              .count
                p 100+
              p.title Scholarships

            .col-lg-4.text-center.counter__card
              svg(xmlns='http://www.w3.org/2000/svg' width='43' height='43' viewBox='0 0 43 43' fill='none')
                path(d='M16.5157 15.625C17.7001 14.1915 19.4931 13.275 21.5 13.275C23.5069 13.275 25.3 14.1915 26.4844 15.625C27.2641 16.5704 27.759 17.7181 27.9113 18.9341C28.0635 20.1501 27.8669 21.3844 27.3442 22.4929C26.8216 23.6014 25.9946 24.5384 24.9596 25.1947C23.9246 25.851 22.7243 26.1995 21.4988 26.1995C20.2733 26.1995 19.073 25.851 18.0381 25.1947C17.0031 24.5384 16.176 23.6014 15.6534 22.4929C15.1308 21.3844 14.9341 20.1501 15.0864 18.9341C15.2386 17.7181 15.7335 16.5704 16.5133 15.625H16.5157ZM30.3125 19.7375C30.3125 18.2523 29.9459 16.8517 29.2973 15.625H39.125C40.0599 15.625 40.9565 15.9964 41.6176 16.6574C42.2786 17.3185 42.65 18.2151 42.65 19.15V20.325C42.65 24.0544 39.8159 27.8732 34.8598 29.2174C34.3504 28.3025 33.6058 27.5403 32.7031 27.0098C31.8003 26.4793 30.7721 26.1997 29.725 26.2H27.4925C28.3832 25.3758 29.0936 24.3762 29.579 23.2639C30.0643 22.1517 30.3141 20.951 30.3125 19.7375ZM29.725 28.55C30.1883 28.5487 30.6472 28.6391 31.0754 28.8158C31.5037 28.9925 31.8927 29.2521 32.2203 29.5797C32.5479 29.9072 32.8075 30.2963 32.9842 30.7246C33.1609 31.1528 33.2512 31.6117 33.25 32.075V33.25C33.25 37.8818 28.879 42.65 21.5 42.65C14.121 42.65 9.75 37.8818 9.75 33.25V32.075C9.74876 31.6117 9.83909 31.1528 10.0158 30.7246C10.1925 30.2963 10.4521 29.9072 10.7797 29.5797C11.1073 29.2521 11.4963 28.9925 11.9246 28.8158C12.3528 28.6391 12.8117 28.5487 13.275 28.55H29.725ZM0.35 20.325C0.35 24.0544 3.1841 27.8732 8.14025 29.2174C8.64957 28.3025 9.39416 27.5403 10.2969 27.0098C11.1997 26.4793 12.2279 26.1997 13.275 26.2H15.5075C14.6168 25.3758 13.9064 24.3762 13.421 23.2639C12.9357 22.1517 12.6859 20.951 12.6875 19.7375C12.6875 18.2523 13.0541 16.8517 13.7051 15.625H3.875C2.94011 15.625 2.04351 15.9964 1.38245 16.6574C0.721383 17.3185 0.35 18.2151 0.35 19.15V20.325ZM18.5625 6.81248C18.5625 5.09851 17.8816 3.45475 16.6697 2.2428C15.4577 1.03084 13.814 0.349976 12.1 0.349976C10.386 0.349976 8.74228 1.03084 7.53032 2.2428C6.31837 3.45475 5.6375 5.09851 5.6375 6.81248C5.6375 8.52644 6.31837 10.1702 7.53032 11.3822C8.74228 12.5941 10.386 13.275 12.1 13.275C13.814 13.275 15.4577 12.5941 16.6697 11.3822C17.8816 10.1702 18.5625 8.52644 18.5625 6.81248ZM37.3625 6.81248C37.3625 5.09851 36.6816 3.45475 35.4697 2.2428C34.2577 1.03084 32.614 0.349976 30.9 0.349976C29.186 0.349976 27.5423 1.03084 26.3303 2.2428C25.1184 3.45475 24.4375 5.09851 24.4375 6.81248C24.4375 8.52644 25.1184 10.1702 26.3303 11.3822C27.5423 12.5941 29.186 13.275 30.9 13.275C32.614 13.275 34.2577 12.5941 35.4697 11.3822C36.6816 10.1702 37.3625 8.52644 37.3625 6.81248Z' fill='#121A2F')
              .count
                p 30+
              p.title Scholarships

      section.life
        .container
          h2.life__title Life in UNIABUJA
          .row
            .col-lg-4.col-md-6.col-6.p-0
              .life-card
                img.w-100(src="./images/1.png")
                .life-card__content
                  h3 IT Life
                  p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna.

            .col-lg-4.col-md-6.col-6.p-0
              .life-card
                img.w-100(src="./images/2.png")
                .life-card__content
                  h3 IT Life
                  p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .col-lg-4.col-md-6.col-6.p-0
              .life-card
                img.w-100(src="./images/3.png")
                .life-card__content
                  h3 IT Life
                  p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .col-lg-4.col-md-6.col-6.p-0
              .life-card
                img.w-100(src="./images/4.png")
                .life-card__content
                  h3 IT Life
                  p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .col-lg-4.col-md-6.col-6.p-0
              .life-card
                img.w-100(src="./images/5.png")
                .life-card__content
                  h3 IT Life
                  p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .col-lg-4.col-md-6.col-6.p-0
              .life-card
                img.w-100(src="./images/6.png")
                .life-card__content
                  h3 IT Life
                  p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna.

      section.faculties
        .container
          h2.faculties__title Explore our faculties
          .row
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long
            .col-lg-3.col-6
              .faculties__card
                p School of Agriculture
                a(href="/")
                  span Explore
                  i.fa-solid.fa-arrow-right-long

          .faculties-action.text-center
            h3.faculties-action__title Take an action,
              br
              | prepare for the future!
            .faculties-action__buttons
              a.button.apply(href="/") apply
              a.button.visit(href="/") visit
              a.button.resquest(href="/") Resquest Info

      section.news
        .container-fluid
          h2.news__title Latest News

          .owl-carousel.owl-theme.news__carousel
            .item
              .card
                img.card-img-top(src='./images/news.png' alt='...')
                .card-body
                  h5.card-title UNIABUJA VC HONOURED WITH AWARD OF ’ICON OF HUMANITARIAN SERVICE
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .card-footer
                    a.button(href='#') 
                      span Read article
                      i.fa-solid.fa-arrow-right-long
                    span.date June 22, 2022
            .item
              .card
                img.card-img-top(src='./images/news.png' alt='...')
                .card-body
                  h5.card-title UNIABUJA VC HONOURED WITH AWARD OF ’ICON OF HUMANITARIAN SERVICE
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .card-footer
                    a.button(href='#') 
                      span Read article
                      i.fa-solid.fa-arrow-right-long

                    span.date June 22, 2022
            .item
              .card
                img.card-img-top(src='./images/news.png' alt='...')
                .card-body
                  h5.card-title UNIABUJA VC HONOURED WITH AWARD OF ’ICON OF HUMANITARIAN SERVICE
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .card-footer
                    a.button(href='#') 
                      span Read article
                      i.fa-solid.fa-arrow-right-long

                    span.date June 22, 2022
            .item
              .card
                img.card-img-top(src='./images/news.png' alt='...')
                .card-body
                  h5.card-title UNIABUJA VC HONOURED WITH AWARD OF ’ICON OF HUMANITARIAN SERVICE
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .card-footer
                    a.button(href='#') 
                      span Read article
                      i.fa-solid.fa-arrow-right-long

                    span.date June 22, 2022





      section.weekly
        .container
          .weekly-card
            .weekly-card__image
              img(src="./images/girl.png")
            .weekly-card__content
              .weekly-card__title
                h2 Do not miss out on our weekly updates
              .weekly-card__info
                p Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              .weekly-card__subscribe
                form
                  input(type="text" placeholder="enter your email")
                  button(type="submit") subscribe

    // ========== FOOTER ==========
    include ./includes/layouts/footer


  include ./includes/base/scripts

