doctype html
html(lang="en")
  head
    -var pageName = "Home";
    include ./includes/base/head
  body
    .page
      main.homepage
        h2 hsaassa


  // ========== FOOTER ==========
  include ./includes/base/scripts

  //- include ./includes/layouts/footer

